{
    "endpointBase": "https://localhost:9200",
    "engineName": "cv-transcriptions",
    "searchKey": "<base64-encoded-key>",
    "searchFields": ["generated_text"],
    "resultFields": [
      "generated_text"
    ],
    "facets": ["age"]
  }
  